/.phpunit.cache
/node_modules
# /public/build - inclus pour le déploiement
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
# .env.production - inclus pour le déploiement
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/export-mysql.php
/database-export-mysql.sql
/.fleet
/.idea
/.vscode
